body {
	background: url("../images/mj.jpg");
}

.jumbotron {
	background-color: transparent;
	font-family: 'Nosifer', cursive;
	color: red;
	text-align: center;
}

.logo {
	width: 70%;
	margin-bottom: 100px;
}

.col-md-5 {
	color: white;
	font-family: 'Pangolin', cursive;
	font-size: 30px;
}
