body {
	background-color: black;
}

.jumbotron {
	background-color: black;
	font-family: 'Nosifer', cursive;
	color: red;
	text-align: center;
}

.logo {
	width: 60%;
}

.col-md-3 {
	color: white;
	font-family: 'Pangolin', cursive;
	font-size: 20px;
}
